﻿@import 'partials/variables';
@import 'partials/mixins';

*, *:before, *:after {
  @include box-sizing(border-box);
}

a {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: underline;
  }
  &:active,
  &:visited {
    text-decoration: none;
  }
}

input[type="text"],
input[type="email"],
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  transition: all 0.3s;

  &:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
  }

  &.error {
    border-bottom: 1px solid #ff0000;
    color: #ff0000;

    &:focus {
      box-shadow: 0 1px 0 0 #ff0000;
    }
  }

  textarea {
    resize: none;
  }

}

button {
  background-color: #039be5;
  color: #fff;
  min-height: 2.5rem;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.7rem;
  font-weight: bold;
  outline: none;
  padding: 5px;
  position: relative;
  top: -5px;
  text-transform: uppercase;
  transition: all .3s ease-out;

  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
  }
}

.clearfix:after {
  content: " "; // Older browser do not support empty content
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.sprite {
  background: transparent url('/assets/img/sprite.png') no-repeat;
  display: inline-block;
  vertical-align: middle;

  /* at sign */
  &.at {
    background-position: 0px 0px;
    width: 21px;
    height: 21px;
  }
  /* calendar icon */
  &.calendar {
    background-position: -21px 0px;
    width: 21px;
    height: 21px;
  }
  /* clock icon */
  &.clock {
    background-position: -42px 0px;
    width: 21px;
    height: 21px;
  }
  /* search (lens) icon */
  &.search {
    background-position: -63px 0px;
    width: 21px;
    height: 21px;
  }
  /* the old epam logo */
  &.epam-logo {
    background-position: 0px -58px;
    width: $epam-logo-width;
    height: $epam-logo-height;
  }
}

html,
body {
  font-size: 16px;
  height: 100%;
}

body {
  background-color: #eae7e5;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 50px; 
  width: 100%;
  background-color: #fff;
  //height: $header-max-height;
  font-family: 'Oswald', serif;
  font-size: 0.8em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-width: $min-width;
  
}

header>.content{
  margin:0;
  max-width: $max-content-width;    
  padding-bottom: 15px;
}

footer {
  width: 100%; 
  background-color: #fff;
  max-height: $footer-max-height;
  position: absolute;
  bottom: 0;
  min-width: $min-width;
  
}

footer>.content{
  margin:0;
  max-width: $max-content-width;    
}


.main-container {
  width:100%;
   padding-top: 15px;
   margin-top: 83px;
   min-width: $min-width;
}

.main-container>.content{
  margin:0;
  max-width: $max-content-width;    
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  
}
.logo {
  font-size: 30px;
  font-variant: small-caps;
  width: 100px; 
  color: black;
  
}

.logo:hover {
    text-decoration: none;
}

.main-logo-text {
  color: rgb(3,155,229);
}

span.search {
 
  position: absolute;
  right: 0;
}

.search-form>input {
  width: 400px;
  position: relative;
  top: 0;
}
.search-form{
  position: relative;
  right: 0;
}

footer>.clearfix {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

 footer>.clearfix>.copyright {
  color: #444;
}

 .clearfix> .attribution {
  color: #888;
}
.clearfix>.epam-logo {
}

.input-group {
    display: table;
    width: 100%;
}

.input-group >* {
    height: $input-group-height;
    display: table-cell;
}

.input-group>input {
    height:16px;
}

.input-group>span {
    white-space: nowrap;
}

.input-group>span>button {
    padding: 0 24px;
    margin-left: 8px;
}

#topics {
 display : flex;
 justify-content: space-around;
 align-items: flex-start;
 flex-wrap: wrap;
}

#new-topic-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #FFF;
}

.tile {
    width: $topic-l-tile-width;
    box-shadow: 10px 10px 10px #888;
}
.tile .content {
    word-wrap: break-word;
  
}

.topic .content {
    padding: 20px;
    background-color: rgb(3,155,229);
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.info {
  display: flex;
  justify-content: space-around;
  
  background-color: #FFF;
 }
 
 .date-time {
  display: flex;
  justify-content: space-around;
 }
